# 슬라이싱

list = [0,1,2,3,4,6,7,8,9,10]

1. 1번째부터 3번째까지 출력하기             -> [0,1,2]
2. 8번째부터 5번째까지 거꾸로 출력하기      -> [7,6,5,4]
3. 리스트 전체 뒤집기                       -> [10,9,8,7,6,5,4,3,2,1,0]
4. 처음부터 뒤에서 4번째까지 출력하기       -> [0,1,2,3,4,5,6,7]

In [25]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

nums[8:4:-1]

[8, 7, 6, 5]

# for문

1. 1부터 100까지의 숫자를 for문을 이용하여 출력하기
2. 1부터 100까지의 숫자 중 3의 배수만 출력하기
3. 1부터 100까지의 숫자 중 3의 배수의 합 구하기
4. 1부터 100까지의 숫자 중 3의 배수의 개수 구하기
5. 1부터 100까지의 숫자 중 3의 배수의 합과 개수 구하기

[0, 2, 4, 6, 8]

# While문

1. 1부터 100까지의 숫자를 while문을 이용하여 출력하기
2. 1부터 100까지의 숫자 중 3의 배수만 출력하기
3. 1부터 100까지의 숫자 중 3의 배수의 합 구하기
4. 1부터 100까지의 숫자 중 3의 배수의 개수 구하기
5. 1부터 100까지의 숫자 중 3의 배수의 합과 개수 구하기

1
2
3
3
4
5
6
6
7
8
9
9
10
11
12
12
13
14
15
15
16
17
18
18
19
20
21
21
22
23
24
24
25
26
27
27
28
29
30
30
31
32
33
33
34
35
36
36
37
38
39
39
40
41
42
42
43
44
45
45
46
47
48
48
49
50
51
51
52
53
54
54
55
56
57
57
58
59
60
60
61
62
63
63
64
65
66
66
67
68
69
69
70
71
72
72
73
74
75
75
76
77
78
78
79
80
81
81
82
83
84
84
85
86
87
87
88
89
90
90
91
92
93
93
94
95
96
96
97
98
99
99
100
33 1683

# 리스트 컴프리헨션

[1~100] 만들기

In [2]:
print([            ])

[]

# 중간고사 review

### 1. (3점) 
입력 받은 세 정수의 공약수를 리스트로 만들어 아래와 같이 출력하는 프로그램을완성하시오.   
단, list comprehension의 괄호 안에만 코드를 작성하기 바람.   
(힌트) a의 약수는 a를 b로 나누었을 때 나머지가 0이 되는 b를 의미한다. 

<실행 결과 >

enter 3 integers:120 140 200 <enter>
 
[1, 2, 4, 5, 10, 20]

In [24]:
# 답안작성 셀
a, b, c = map(int, input("enter 3 integers:").split()) 
cdiv = [  ] 
print(cdiv)

[1, 2, 4, 5, 10, 20]

# 이중 반복문으로 구구단 1~9단 출력하기
output : 1 x 9 = 9

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 리스트 컴프리헨션으로 구구단 1~9단 값을 리스트로 만들기

[1,2,3,4,5,6,7,8,9,2,4,6,8,10,...,72,81]

### 2. (5점) 띠 맞추기
생년월일을 “YYYYMMDD” 형태로 입력 받아, 입력된 사람의 띠를 출력하라. 단, 띠는 다음 순서로 부여된다. 쥐소범토용뱀말양원닭개돼 음력을 고려하여, 3월1일을 기준으로 새로운 띠가 주어진다고 가정한다. 참고로, 2021.3.1~2022.2.28까지 출생한 사람은 소띠, 2022.3.1 ~ 2023.2.28에 태어난 사람은 범띠이다. 

<실행 화면1>   
주민번호를 입력하시오:20011223 <enter>    
뱀   <enter>      
주민번호를 입력하시오:19690424 <enter>   
개   <enter>

### 3. (5점) 369 게임
아래의 실행결과 같이 입력된 양의정수까지 369 게임의 진행결과를 출력하려고 한다. 
현재 숫자 중에 3,6,9가 포함되어 있으면 포함된 수 만큼 '짝'을 출력하고,
그렇지 않으면 그 현재 숫자를 출력하여 입력된 숫자까지 출력한다.  
(힌트)해당 수를 문자열로 바꾸어, 그 안에 포함된 3,6,9의 갯수를 계산하여 처리한다. 

<실행예>  
369게임의 최대정수값을 입력하시오:  40 <enter>   
    
1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝 40

### 4. (5점) 솟수의 합 
입력된 숫자보다 작은 솟수의 합을 출력하라.예를 들면, 10보다 작은 솟수는 2,3,5,7이므로, 이 숫자의 합인 (2+3+5+7)=17을 출력한다.   
(힌트) n이 솟수가 되려면, 2~(n-1)의 수로 나누어 떨어지지 않아야 한다. 

<실행예1> 
양의 정수를 입력하시오: 10<enter>  
17  
<실행예2>       
양의 정수를 입력하시오: 20<enter>     
77

### 5. (5점) 사전의 이용
영어와 한글의 숫자에 다음과 같은 대응관계가 있다고 가정하고, 이를
딕셔너리(사전)변수 d에 표현하라. 그리고, 이를 이용하여 다음 문장에서
해당하는 영어 단어가 나오면 이를 한글로 변경하여 출력하라.   
one = '일', two = '이', three = '삼', four = '사', five = '오'

<실행결과>  
one + two = three -> 일 + 이 = 삼  
five - one = four -> 오 - 일 = 사